
body {
 
  text-align:center;
  font-family: verdana;
  background: rgb(239,242,196);
background: linear-gradient(90deg, rgba(239,242,196,1) 4%, rgba(254,255,235,1) 50%, rgba(239,242,196,1) 96%);
padding:0;
margin:0;

  
}

.checkbtn
{

  font-size:30px; 
  color:white;
  float:right;
  line-height:80px;
  margin-right:40px;
  cursor:pointer;
  display:none;
}
#check
{
  display:none;
}

.banner {
  float:left;
  
}

.container 
{
  background-image:url("Assets/law2.jpg");
  background-repeat:no-repeat;
  background-size:auto;
  background-attachment: fixed;


  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  grid-gap:300px;
  padding:50px;
  

  
  
  
}


.grid-container > div {

  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

.item
{
  color: white;
  grid-column-start:2;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end:2;
}

.footerContainer
{

  display:grid;
  background:#122748;
  grid-template-columns: auto auto auto;
  justify-content:center;
  align-content:center;
  grid-gap:250px;
  padding:50px;



  color:lightcyan;
  


}



p{
  overflow:auto;
}

nav{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    text-align: right;
    transition:top 0.3s;
}
   


nav, footer{
  
  color:lightcyan;
  background:linear-gradient(to bottom, #2c497e 0%,#1e3762 50%,#122748 100%);
  
   
}

nav  footer , a:hover {
  background:linear-gradient(to top, #2c497e 0%,#1e3762 50%,#122748 100%);
  color:black;
  

}

a{
  text-decoration:none;
}

footer{

  font-size:11px;
}




.navigation ul  {
 
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  .navigation li {
  
   float: left;
  
  }
  
  .navigation a {
    color:lightcyan;
    display: block;
    padding: 10px;
 
  }


  /* horitzontal list class */

  .horizontalList ul
  {

list-style-type: none;
margin:0;
padding: 0;
overflow:hidden;

  }

  .horizontalList li 
  {
    
    float:left;
    

  }
  
  .horizontalList a
  {
    color:lightcyan;
    padding: 10px;

  }




  /* vertical list class */

  .verticalList ul
  {
    list-style-type: none;
margin:0;
padding: 0px;
overflow:hidden;
  }

  .verticalList li
  {
display:block;
padding:15px;
  }

  .verticalList a
  {
    color:lightcyan;
padding:5px;

  }

 