

html{
  scroll-behavior:smooth;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

body {
 
  text-align:center;
  font-family: verdana;
  background: rgb(239,242,196);
background: linear-gradient(90deg, rgba(239,242,196,1) 4%, rgba(254,255,235,1) 50%, rgba(239,242,196,1) 96%);
padding:0;
margin:0;


  
}



.arabicFont {
  
  font-size:25;
}



.checkbtn
{

  font-size:3vh; 
  color:white;
  float:left;
  line-height:5vh;
  margin-right:40px;
  cursor:pointer;
  display:none;
}
#check
{
  display:none;
}

.banner {
  float:left;
  
}

.container 
{
  background-image:url("Assets/law2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  border-radius:5px;


  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  grid-gap:300px;
  padding:50px;
  

  
  
  
}

.container2
{

  display:grid;
  grid-template-columns:  auto auto auto ;
  /* grid-template-rows: auto auto auto; */
  justify-content: center;
  align-content: center;
  grid-gap:100px;
  
}


.grid-container > div {

  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

.item
{
  color: white;
  grid-column-start:2;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end:2;
}

.item1
{
  margin-left:350px;

}


.footerContainer
{

  display:grid;
  background:#122748;
  grid-template-columns: auto auto auto;
  justify-content:center;
  align-content:center;
  
  grid-gap:250px;
  padding:50px;
  border-radius:2px;



  color:lightcyan;
  


}

.footerContainer .verticalList  a:hover
{
  text-decoration:underline;
}



p{
  overflow:auto;
}

nav{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    text-align: right;
    transition:top 0.3s;
    color:lightcyan;
  background:linear-gradient(to bottom, #2c497e 0%,#1e3762 50%,#122748 100%);
  border-radius:4px;
}
   



nav a:hover {
  background:linear-gradient(to top, #2c497e 0%,#1e3762 50%,#122748 100%);
  color:white;
  border-radius:4px;
  

}



a{
  text-decoration:none;
}

.icons
{
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  text-decoration: none; 
}

.fa
{
  background: rgb(239,242,196) !important;
   color: #2c497e !important;
   
  
}


.navigation ul  {
 
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  .navigation li {
  
   float: left;
  
  }
  
  .navigation a {
    color:lightcyan;
    display: block;
    padding: 10px;
 
  }


  /* horitzontal list class */

  .horizontalList ul
  {

list-style-type: none;
margin:0;
padding: 0;
overflow:hidden;

  }

  .horizontalList li 
  {
    
    float:left;
    

  }
  
  .horizontalList a
  {
    color:lightcyan;
    padding: 10px;

  }

  .main
  {


  }

  .textBox
  {
    justify-content:center;
    align-content:center;
    margin:auto;
    
      width: 700px;
      height: 300px;
      padding: 15px;
      
      background-color: 	rgb(243, 243, 197);
      color:black;
      box-shadow: 10px 10px 5px grey;
      
      border-radius:50px;
    
  }

  #rightPicture
  {
   width:350px;
   height:350px; 
   border-style: solid;
   border-radius:10%;
    
    
    
    
    
    
  }






  /* vertical list class */

  .verticalList ul
  {
    list-style-type: none;
margin:0;
padding: 0px;
overflow:hidden;
  }

  .verticalList li
  {
display:block;
padding:15px;
  }

  .verticalList a
  {
    color:lightcyan;
padding:5px;

  }

  .rotate:hover
  {
    animation-duration:4s;
    animation-name:example;

  }

  @keyframes example
  {
    0%{transform:rotateZ(0deg);}
    25%{transform:rotateZ(90deg);}
    50%{transform:rotateZ(180deg);}
    75%{transform:rotateZ(270deg);}
    100%{transform:rotateZ(360deg);}
  }

  @keyframes arrow
{
  from { left:0; top:0px;}
  to { left:0; top:15px;}
  

}

#arrowDown
{

  animation-name: arrow;
  animation-duration: 1.0s;
  position:relative;
  animation-iteration-count:infinite;
}

@media screen and (max-width:1440px)
{
.container2
{
  margin-right:50vh;
}
 
}

  @media screen and (max-width:1024px)
  {

   .textBox
   {
     width:400px;
   }
   #rightPicture
   {
     width:30vh;
     height:30vh;
   }
 
  }

  @media screen and (max-width:768px)
  {
    i
    {
    
      
    }
    .checkbtn{
      display:inline-block;
    }

     .navigation ul
    {
      position:fixed;
      width:100%;
      height:100vh;
      background:linear-gradient(to bottom, #2c497e 0%,#1e3762 50%,#122748 100%);
      top:5vh;
       left:-100%;
      text-align:center;
      transition:all .5s;
      

    }

    .navigation  li
    {
      display:block;
      float:none;
    } 

    #check:checked ~ ul
    {
      
      left:0;
      
    }

    .fa-arrow-down
    {
display:none !important;

    }

    

    




    .navigation ul li a { font-size:20;}

    a:hover,a.active{background:none;
    color: #0082e6; }


    .textBox
    {
      width:30vh;
    }
    .container2
    {
      
    margin-right:60vh;
  }

  .footerContainer
  {
    grid-gap:10vh;
  }

  }

  @media screen and (max-width:425px)
  {
    .container2
    {
      grid-gap:2vh;
    }

    .textBox
    {
      font-size:1.3vh;
      width:30vh;
      height:30vh;
    }

    #rightPicture
    {
      width:30vh;
      height:30vh;
      
    }
    .item2
    {
      grid-row-start:1;
      grid-row-end:1;

      grid-column-start:2;
      grid-column-end:2;
    
    }
    .item3
    {
      grid-row-start:2;
      grid-row-end:2;

      grid-column-start:2;
      grid-column-end:2;
     
    }
    .footerContainer
    {
      grid-gap:1vh;
    }
    .container
    {
      grid-gap:2vh;
      
    }
    .name
    {
      width:30vh;
    }

    .item
    {
      width:375px;
    }
  }

  @media screen and (max-width:325px)
  {
    *{font-size:small;}
    
.name
{
width:20vh;
margin-right:10vh;
}
hr{
  margin-right:10vh;}
.container
{
  background-size:cover;
  grid-gap:1vh;
}

.item
{
  width:325px;
}


.footerContainer
{
  grid-gap:0.25vh;
  
  
}


  }




  





 